**Customer Analysis Round 1**

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Read and import files in python
file1=pd.read_csv("csv_files/file1.csv")
file2=pd.read_csv("csv_files/file2.csv")
file3=pd.read_csv("csv_files/file3.csv")

In [3]:
print("Shape file 1:",file1.shape,". Shape file 2:", file2.shape,". Shape file 3: ",file3.shape)

Shape file 1: (4008, 11) . Shape file 2: (996, 11) . Shape file 3:  (7070, 11)

In [4]:
#Change header names so they concontanate together in the same headers
file1=file1.rename(columns={'ST':'State','GENDER':"Gender"})
file2=file2.rename(columns={'ST':'State','GENDER':'Gender'})

In [5]:
column_names= file3.columns
column_names

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [6]:
data=pd.DataFrame(columns = column_names)

In [7]:
data=pd.concat([data,file1,file2,file3],axis=0)

In [8]:
data.reset_index(drop=True, inplace=True)

In [9]:
#Dataframe shape
data.shape

(12074, 11)

In [10]:
#Standarize header names
cols=[]
for i in range (len(data.columns)):
    cols.append(data.columns[i].lower().capitalize())
cols

['Customer',
 'State',
 'Customer lifetime value',
 'Education',
 'Gender',
 'Income',
 'Monthly premium auto',
 'Number of open complaints',
 'Policy type',
 'Total claim amount',
 'Vehicle class']

In [11]:
#Standarize header names
data.columns=cols

In [12]:
data.reset_index(drop=True, inplace=True)

In [13]:
data.head()

,Customer,State,Customer lifetime value,Education,Gender,Income,Monthly premium auto,Number of open complaints,Policy type,Total claim amount,Vehicle class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,17.269323,Four-Door Car

In [14]:
#The numerical cells are Income, Monthly premium auto and
#The categorial cells are Customer, State, Gender, Customer lifetime value, Number of open complaints, Policy type, Vehicle class and Total claim amount
data.dtypes

Customer                      object
State                         object
Customer lifetime value       object
Education                     object
Gender                        object
Income                       float64
Monthly premium auto         float64
Number of open complaints     object
Policy type                   object
Total claim amount           float64
Vehicle class                 object
dtype: object

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   9137 non-null   object
 1   State                      9137 non-null   object
 2   Customer lifetime value    9130 non-null   object
 3   Education                  9137 non-null   object
 4   Gender                     9015 non-null   object
 5   Income                     9137 non-null   float64
 6   Monthly premium auto       9137 non-null   float64
 7   Number of open complaints  9137 non-null   object
 8   Policy type                9137 non-null   object
 9   Total claim amount         9137 non-null   float64
 10  Vehicle class              9137 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.0+ MB

In [16]:
data=data.drop(['Education','Number of open complaints'],axis=1)

In [17]:
data.reset_index(drop=True, inplace=True)

In [18]:
data.head()

,Customer,State,Customer lifetime value,Gender,Income,Monthly premium auto,Policy type,Total claim amount,Vehicle class
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,F,0.0,94.0,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,F,48767.0,108.0,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,M,0.0,106.0,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,M,36357.0,68.0,Personal Auto,17.269323,Four-Door Car

In [24]:
data['Customer lifetime value']=data['Customer lifetime value'].astype('float',errors='coerce')

ValueError: Expected value of kwarg 'errors' to be one of ['raise', 'ignore']. Supplied value is 'coerce'

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Customer                 9137 non-null   object
 1   State                    9137 non-null   object
 2   Customer lifetime value  9130 non-null   object
 3   Gender                   9015 non-null   object
 4   Income                   9137 non-null   float64
 5   Monthly premium auto     9137 non-null   float64
 6   Policy type              9137 non-null   object
 7   Total claim amount       9137 non-null   float64
 8   Vehicle class            9137 non-null   object
dtypes: float64(3), object(6)
memory usage: 849.1+ KB

In [ ]:
data=data.drop_duplicates()

In [ ]:
data.reset_index(drop=True, inplace=True)

In [29]:
filtered = data[(data["Income"]>=0)]
filtered

,Customer,State,Customer lifetime value,Gender,Income,Monthly premium auto,Policy type,Total claim amount,Vehicle class
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,F,0.0,94.0,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,F,48767.0,108.0,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,M,0.0,106.0,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,M,36357.0,68.0,Personal Auto,17.269323,Four-Door Car
...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,23405.98798,M,71941.0,73.0,Personal Auto,198.234764,Four-Door Car
12070,PK87824,California,3096.511217,F,21604.0,79.0,Corporate Auto,379.200000,Four-Door Car
12071,TD14365,California,8163.890428,M,0.0,85.0,Corporate Auto,790.784983,Four-Door Car
12072,UP19263,California,7524.442436,M,21941.0,96.0,Personal Auto,691.200000,Four-Door Car
12073,Y167826,California,2611.836866,M,0.0,77.0,Corporate Auto,369.600000,Two-Door Car

In [31]:
pwd

'/Users/andreafought/Documents/GitHub/lab-customer-analysis-round-1/files_for_lab'